<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <!-- Authors: Sonali Priya, Sean Mishra -->
    <!-- Date: Nov 7, 2016 -->
    <link rel="stylesheet/less" type="text/css" href="./less/style.less">
    <!-- AngularJs at top for DOM manipulation -->
    <script src="./components/angular/angular.min.js" charset="utf-8"></script>
</head>

<body ng-app="todoList">

    <header>
        <h1 class="text-center">To-Do List</h1>
    </header>

    <main class="container">
        <div class="row" ng-controller="ToDoListController as todoListCtrl">
            <div class="col-md-6 col-md-offet-3">
                <select name="dataType" ng-model="data.dataType">
                  <option value="">All Tasks</option>
                  <option value="Incomplete">Incomplete Tasks</option>
                  <option value="Complete">Complete Tasks</option>
                </select>
                <hr>
                <div ng-repeat="todo in todoListCtrl.todos">
                <input type="checkbox"> {{todo.description}} - {{todo.duedate}}<br>

               </div>
               <div>
                <input type="checkbox" ng-show="todoListCtrl.todo.title"> {{todoListCtrl.todo.title}}

               </div>
                <hr>
              <form name="newTask" class="form-horizontal" ng-submit="todoListCtrl.addTask()">
                <input type="text" placeholder="New Task" id="title" ng-model="todoListCtrl.todo.title">
                <button class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
    </main>

    <script src="./components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="./components/less/dist/less.min.js" charset="utf-8"></script>
    <script src="./js/app.js" charset="utf-8"></script>
</body>

</html>
